<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/originals/95/76/1a/95761ad0692a4f23d0912f25295ed090.jpg);">
  <div class="container">
    <h1>Welcome to QmyR!</h1>
      <h1>Register here to organize and share your contact information more easily!</h1>
      <%= link_to 'Make an account!', new_user_registration_path, method: :get, class: 'btn btn-danger' %>
  </div>
</div>
