<div class="personal-wallet-card">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2><%= personal.first_name %> <%= personal.last_name %></h2>
    <p>You met each other on <strong><%#= @transaction.created_at %></strong> something else.</p>
    <p><%= link_to 'See this personal contact', personal_path(personal.id)  %></p>
  </div>
</div>
