<div class="personal-wallet-card">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2><%= personal.first_name %><%= personal.last_name %></h2>
    <p>You met each other on <strong>created at</strong> something else.</p>
  </div>
</div>
