<%= render partial: 'shared/banner'  %>

<div class="row align-items-center justify-content-center">
  <div class="row">
    <div class="col-sm-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
    <div class="col-sm-4">
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
    </div>
    <div class="col-sm-4">
      Did it work?
    </div>
  </div>
  </div>
</div>


<%# <h3>Welcome!  Please... </h3> %>

<%# if !current_user %>
 <%# <p>Create an account here!<%= link_to "Sign up!", new_user_registration_path, class: 'btn btn-danger'</p> %>
<%# else %>
<%# <p>= Welcome back user.username, go to your dashboard: link_to "Dashboard", dashboard_path(current_user), class: 'btn btn-danger'  </p> %>
<%# end %>
