<div class="row align-items-center justify-content-center py-1">
Congratulations on signing up for QmyR!
<br>
Before proceeding, please either create a business profile or a personal profile:
<br>
After you make one of the profiles, you can make the other one from your dashboard.
<br>
In order for the app to work properly, please make both profiles, even if you intend to only use one!
<h5><strong>Important!  At the current early stage of development, the app is not present in the Apple store or any Android store platforms!</strong></h5>
<br>
<h5><strong>To have this app on your phone:  For iOS users:  On Safari, click the share button on the bottom middle portion of the browser, then select Add To Home Screen</strong></h5>
<h5><strong>For Android users:  Once the app has loaded, click on the add to homescreen shortcut on Firefox, or click on menu dots, then Add to homescreen for Chrome</strong></h5>
</div>





<div class="row align-items-center justify-content-center">
<div class="row">
<p>New business profile <%= link_to 'New Business', new_business_path, class: 'btn btn-danger' %> </p>
</div>
</div>



<div class="row align-items-center justify-content-center">
<div class="row">
<p>New personal profile <%= link_to 'New Personal', new_personal_path, class: 'btn btn-danger'%> </p>
</div>
</div>
