Congratulations on signing up.  Before proceeding, please either create a business profile or a  personal profile:
If statements for redirect.  


<div class="row align-items-center justify-content-center">
<div class="row">
<p>New business profile <%= link_to 'New Business', new_business_path, class: 'btn btn-danger' %> </p>
</div>
</div>   



<div class="row align-items-center justify-content-center">
<div class="row">
<p>New personal profile <%= link_to 'New Personal', new_personal_path, class: 'btn btn-danger'%> </p>
</div>
</div>