.navbar-lewagon {
  justify-content: center; //space between?
  background: white;
  position: sticky;
  top: 0px;
  z-index: 9999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// .nav-link .nav-item {
//   text: white;
// }