.personal-wallet-card {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.personal-wallet-card img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.personal-wallet-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.personal-wallet-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.personal-wallet-card .card-product-infos {
  padding: 16px;
}

.personal-wallet-card  {
  color: black;
}
